*.pyc
*.bak
*.dep
*.class
*.o
*.a
*.elf
*.bin
*.map
*.properties
.sconsign.dblite
JLinkLog.txt
ide/build/windows/work/
ide/app/pde.jar
ide/core/core.jar
software/platform/build
software/platform/project*
software/rt-thread

/software/cores/rtconfig.py
/software/examples/rtconfig.py
/software/platform/rtconfig.py
/software/platform/applications/application.c